# Mango Db with Python- Querying Json Documents

In [4]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['employee']
empinfo=mydb.employeeinformation

In [5]:
record={
        'firstname':'tejas',
        'lastname':'parjane',
        'department':'analytics',
        'qualification':'BCA',
        'age':'22'
        }
empinfo.insert_one(record)

In [6]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [8]:
empinfo.insert_many(records)

In [9]:
#Simple way of quering
empinfo.find_one()

{'_id': ObjectId('63c2ca0427ebdcdd0cc88644'),
 'firstname': 'tejas',
 'lastname': 'parjane',
 'department': 'analytics',
 'qualification': 'BCA',
 'age': '22'}

In [12]:
## select * employeeinformaton
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('63c2ca0427ebdcdd0cc88644'), 'firstname': 'tejas', 'lastname': 'parjane', 'department': 'analytics', 'qualification': 'BCA', 'age': '22'}
{'_id': ObjectId('63c2ca3327ebdcdd0cc88645'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('63c2ca3327ebdcdd0cc88646'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('63c2ca3327ebdcdd0cc88647'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('63c2ca3327ebdcdd0cc88648'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [13]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'tejas'}):
    print(record)

{'_id': ObjectId('63c2ca0427ebdcdd0cc88644'), 'firstname': 'tejas', 'lastname': 'parjane', 'department': 'analytics', 'qualification': 'BCA', 'age': '22'}

In [16]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('63c2ca3327ebdcdd0cc88647'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('63c2ca3327ebdcdd0cc88648'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [21]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('63c2ca3327ebdcdd0cc88648'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [19]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'tejas'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('63c2ca0427ebdcdd0cc88644'), 'firstname': 'tejas', 'lastname': 'parjane', 'department': 'analytics', 'qualification': 'BCA', 'age': '22'}

In [22]:
inventory=mydb.invenory

In [23]:
inventory.insert_many([
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }    
        
]);

In [24]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('63c5566627ebdcdd0cc88649'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}